*{
    margin: 0;
    padding: 0;
}
div#container{
 width: 90%;
 margin: 10px auto;
height: 1000%;

}

header{
    background-color:  rgb(121, 178, 231);
    min-height: 80px;
}

#main{

    background-color: rgb(0, 0, 0);
    min-height: 300px;
    overflow: hidden;
}

#sidebar{
    background-color: rgb(17, 115, 243);
    min-height: 350px;
    float: left;
    width: 200px;
}
#sidebar .a{
    color: rgb(207, 44, 44);
}
#sidebar2{
    background-color: rgb(17, 115, 243);
    min-height: 350px;
    float: right;
    width: 200px;
}
#column1{
    background-color: rgb(102, 231, 199);
    min-height: 350px;
    margin-left: 200px;
    margin-right: 200px;
    
}
footer{
    background-color: rgb(125, 183, 206);
    min-height: 60px;
}